body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

::selection {
    background-color: #161614;
    color: #ffffff;
}

a {
    color: #C85B7F;
    font-weight: 700;
}

a:hover {
    color: #161614;
}

html {
    scroll-behavior: smooth;
}

.boldtext {
    font-weight: bold;
}
               
/* NAV */

.navbar{
    background-color: #c73642!important;
}

.navbar-brand {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
}

/* HEADER */

.hero__section {
    background-image: url(../img/headermarly.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    opacity: 80%;
}

.header__text {
    font-size: 2.8rem;
    color: #ffffff;
    text-align: left;
    text-shadow: 2px 3px 2px #000000;
    padding: 1.8rem 4rem 0px 4rem;
}   

p.header {
    font-family: 'Parisienne', cursive;
    font-weight: 800;
    font-size: 3rem;
    margin: 18rem 0px 0px 0px;
}

p.subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.7rem;
    margin: -0.25rem 0px 1.25rem 1rem;
}

/* SOBRE MÍ */

.sobremi {
    background-color: #C85B7F;
    padding: 50px 0px;
    text-align: center;
}

.sobremift {
    height: 190px;
    width: 190px;
    border-radius: 50%;
}

p.informacion {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    margin: 20px 0px;
}

.fondotexto {
    background-color: #ffffff;
    padding: 10px;
    font-size: 0.90rem;
    text-align: left;
}

h1 {
    font-weight: 800;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 0.3rem;
}

/* EXPERIENCIA */

.miexperiencia {
    text-align: center;
    padding: 30px 0px 60px 0px;
}

h1.tituloex {
    color: #C85B7F;    
    padding: 30px;
}

.iconex {    
    padding: 20px 30px;
}

/* TRABAJOS */

.mistrabajos {
    background-color: #EECDD6;
    padding: 30px 0px 60px 0px;
}

h1.titulo {
    color: #c73642;
    padding: 30px;
    text-align: center;
}

.card {
    border-radius: 0%;
}

.card-img-top {
    border-radius: 0%;
}

.card-title {
    color: #c73642; 
    font-weight: 700;
    text-align: left;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    text-align: left;
}


.btn {
    background-color: #c73642!important; 
    color: #ffffff!important;
    border-radius: 0%!important;
}

.btn:hover {
    background-color: #161614!important;
}

/* MAS TRABAJOS */

.otrostrabajos {
    background-color:#c73642;
    text-align: center;
    padding: 30px 0px 60px 0px;
}

h1.titulot {
    color: #ffffff;    
    padding: 30px;
}


/* CAROUSEL */

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators .active {
    background-color: #ffffff;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff(0,0,0,0.5)
}

/* CONTACTO */

.contactame {
    margin: 0;
}

/* FOOTER */

footer {
    background-color: #c73642;
    background-image: url(../img/wallcherryred.png);
    background-size: cover;
    padding: 60px 0px 30px 0px;
    text-align: center;
    color: #ffffff;
    opacity: 90%;
}

i {
    color: #ffffff;
    width: 80px;
    height: 53px;
    margin: 0px 0px 0px 5px;
}

i.hab {
    color: #000000;
    width: 80px;
    height: 53px;
    margin: 0px 0px 0px 5px;
}

p.footer-brand {
    font-family: 'Parisienne', cursive;
    font-size: 2.5rem;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

    .anchomodal {
        width: 100vw;
        display: inline-block;
    }

} 